body {
    width: 100%;
    margin: 0;
}

.container {
    width: 80%;
    margin-top: none;
    padding: none;
    margin: 0 auto;
    min-width: 600px;
    max-width: 900px;
}

header {
    text-align: center;
    font-family: sans-serif, verdana;
    color:rgba(28, 28, 121, 0.995);
    padding-bottom: 40px;
    padding-top: 40px;
}

h1 {
    font-size: 3em;
}

header p {
    font-size: 1.5em;
}

form {
    width: 100%;
    min-width: 700px;
    font-size: 1.5em;
    font-family: Verdana;
    padding: 10px;
    background-color: rgba(28, 28, 121, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 100, 0.2);
    color: rgba(0, 0, 100, 0.8);
}

legend {
    margin-bottom: 5px;
}

input, textarea, select {
    display: block;
    font-size: 1em;
    width: 100%;
    background-color: rgba(0, 0, 100, 0.2);
    color: rgba(0, 0, 100, 0.6);
}

select:focus {
    background-color: rgba(28, 28, 121, 0.2);
    color: rgb(255,255,255);
}

label {
    color: rgba(0, 0, 100, 0.8);
}

p {
    margin: none;
}

input[type="radio"], input[type="checkbox"] {
    width: 30px;
    vertical-align: middle;
    display: inline-block;
    height: 1.1em;
}

.inline {
    display: block;
    padding: 2px;
}

fieldset {
    border: none;
}

button {
    margin: 0 auto;
    height: 40px;
    width: 200px;
    background-color:rgba(0, 0, 100, 0.6);
    color: rgb(255,255,255);
    font-size: 24px;
    font-weight: 800;
}

button:hover {
    background-color: rgba(28, 28, 121, 0.995);
}